/* Desktop */
header {
    background: aqua;
    max-width:1160px; height:100px; margin:0 auto;
    display: flex; flex-flow:row nowrap; 
    justify-content:space-between; align-items:center;
    position: relative; /* m-nav-open absolute 부모기준 */
}
header h1 {
    background: yellow;
    width:100px; height:35px;
}
header h1 a {}
header h1 a img {width:100%;}
header nav {
    background: pink;
}
header nav ul {display:flex; flex-flow:row nowrap;}
header nav ul li {margin-right:20px;}
header nav ul li:last-child {margin-right:0;}
header nav ul li a {
    font-size:1.33rem; letter-spacing:-0.02em;
}
/* 모바일 메뉴 - 데스크탑에서 숨기기 */
header nav .m_nav {display:none;}
/* header .m_nav_open {display: none;} */
header .m_nav_open {
    background: lime;
    display: none; /*block -> none 변경*/
    position: absolute; 
    /* width:calc(100% - 30px); */
    width:100%; 
    top:100px;
    padding:49px 0;
}
header .m_nav_open #close {
    font-size:24px;
    position: absolute; top:25px; right:16px;
}
header .m_nav_open ul {background: yellow;
    text-align: center;
}
header .m_nav_open ul li {
    letter-spacing: -0.02em;
    margin-bottom:30px; line-height: 0;
}
header .m_nav_open ul li:last-child {
    margin-bottom: 0;
}
header .m_nav_open ul li a {font-size:1.33rem;}
/* main */
main {}
/* main-1. swiper-slide */
/* swiper 플러그인의 정식명칭 클래스는 
웹 페이지 1장에서 swiper가 2개 이상 들어올 경우 
디자인이 강제로 중복될 수 있으므로 
개별 아이디 및 클래스 사용해서 선택자를 만들고 디자인한다. */
/* swiper-slide 반응형 설계를 할 경우 */
/* swiper-slide 자체가 가변형 기능을 내장하고 있기 때문에
가장 바깥쪽 swiper 영역틀 기준으로 가변크기를 넣어주면 자동으로 반응형에 맞춰지는 슬라이드가 완성된다. */
main #pawin_slide {
    max-width:1160px; height:650px;
    background:yellow;
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {}
main #pawin_slide .swiper-wrapper .slide1 {
    background:url(../images/pawin_slide_desktop.jpg) center;
}
main #pawin_slide .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/10/1160);
}
main #pawin_slide .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/128/1160);
}
main #pawin_slide .swiper-wrapper .slide4 {
    background:url(https://picsum.photos/id/110/1160);
}
main #pawin_slide .swiper-button-prev,
main #pawin_slide .swiper-button-next {
    width: 40px; height: 40px;
}
/* swiper-slide prev, next 기본css(position:absolute)내장 */
/* 위치를 움직이고 싶다면 position속성 추가작성없이 방향값 추가 */
main #pawin_slide .swiper-button-prev {
    background: url(../images/prev.png) no-repeat;
    left:20px;
}
main #pawin_slide .swiper-button-next {
    background: url(../images/next.png) no-repeat;
    right:20px;
}
/* swiper-slide 라이브러리에서 기본 제공하는 이전, 다음버튼 숨기기 */
main #pawin_slide .swiper-button-prev::after,
main #pawin_slide .swiper-button-next::after {
    display:none;
}

/* 1160*300 slide*3 swiper */
main #sub_slide {
    width:1160px; height:300px;
    background:lightblue;
}
main #sub_slide .swiper-wrapper {}
main #sub_slide .swiper-wrapper .swiper-slide {}
main #sub_slide .swiper-wrapper .s1 {
    background:url(https://picsum.photos/id/250/1160);
}
main #sub_slide .swiper-wrapper .s2 {
    background:url(https://picsum.photos/id/260/1160);
}
main #sub_slide .swiper-wrapper .s3 {
    background:url(https://picsum.photos/id/270/1160);
}
main #sub_slide .swiper-button-prev,
main #sub_slide .swiper-button-next {
    width: 40px; height: 40px;
}
main #sub_slide .swiper-button-prev {
    background: url(../images/sub-prev.png) no-repeat;
}
main #sub_slide .swiper-button-next {
    background: url(../images/sub-next.png) no-repeat;
}
main #sub_slide .swiper-button-prev::after,
main #sub_slide .swiper-button-next::after {
    display: none;
}
/* pawin-slide2 */
main #pawin_slide2 {
    max-width:1160px; margin:0 auto;
    /* slide대상으로 img태그를 삽입한 경우 높이값은
    이미지 태그 크기만큼 자동으로 설정되므로 별도의
    높이값은 작성할 필요가 없다. */
}
main #pawin_slide2 .swiper-wrapper .swiper-slide img {width:100%;}
/* 입양정보 slide */
main .dog_info {
    padding:100px 0 50px;
    font-size:2rem; text-align:center;
}
main #dog_info_slide {
    background: aqua;
    max-width:1160px; margin:0 auto;
    width:calc(100% - 30px);
}
main #dog_info_slide .swiper-wrapper .swiper-slide img {width:100%;}